html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  height: 100%;
}
#__next {
  min-height: 100%;
}

#__next {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

* {
  box-sizing: border-box;
}
