.InlineLink {
  position: relative;
  color: rgb(221, 1, 1);
  text-decoration: none;
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  cursor: pointer;
}
.InlineLink::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: .14em solid rgb(221, 1, 1);
  transition: transform .25s;
  overflow: hidden;
  padding-bottom: .5em;
}
.InlineLink:hover::before,
.InlineLink:focus::before {
  transform: translateX(-100%);
}